@model IEnumerable<Category>
<div class="container">
<div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>Category List</h2>
        </div>
        <div class="col-6 text-end">
        <a class="btn btn-primary">  <i class="bi bi-plus-circle-fill"></i> Create New Category</a>
        </div>
    </div>
    <table class="table table-bordered table-hover table-striped table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Order number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                </tr>
            }
        </tbody>
    </table>



  
</div>